<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

<session-factory>

	<property name="hibernate.connection.username">wutest001</property>
	<property name="hibernate.connection.password">wutest001</property>
	<property name="hibernate.connection.url">
		jdbc:mysql://45.76.6.229:3306/wutest001
	</property>
	<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="hibernate.connection.autocommit">true</property>
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQL5Dialect
	</property>
	<property name="hibernate.hbm2ddl.auto">update</property>
	<property name="hibernate.show_sql">true</property>


	<!-- 配置启用二级缓存 -->
	<property name="hibernate.cache.use_second_level_cache">
		true
	</property>

	<!--配置二级缓存的供应商 -->
	<property name="hibernate.cache.provider_class">
		org.hibernate.cache.EhCacheProvider
	</property>

	<!-- 启用查询缓存 -->
	<property name="hibernate.cache.use_query_cache">true</property>
	<property name="myeclipse.connection.profile">wutest001</property>
	<property name="connection.url">jdbc:mysql://qdm13567136.my3w.com:3306/qdm13567136_db</property>
	<property name="connection.username">qdm13567136</property>
	<property name="connection.password">wutest001</property>
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>

	 
	<mapping resource="cn/itcast/crm/domain/SysUserGroup.hbm.xml" />
	<mapping resource="cn/itcast/crm/domain/SysRole.hbm.xml" />
	<mapping resource="cn/itcast/crm/domain/SysUser.hbm.xml" />
	<mapping resource="cn/itcast/crm/domain/SysPopedom.hbm.xml" />
	<mapping
		resource="cn/itcast/crm/domain/SysPopedomPrivilege.hbm.xml" />
	<mapping resource="cn/itcast/crm/domain/SysMenu.hbm.xml" />
	<mapping resource="cn/itcast/crm/domain/SysMenuPrivilege.hbm.xml" />
	<mapping resource="cn/itcast/crm/domain/Company.hbm.xml" />
	<mapping resource="cn/itcast/crm/domain/SysCodeRule.hbm.xml" />
	<mapping resource="cn/itcast/crm/domain/SysDictionaryType.hbm.xml" />
	<mapping resource="cn/itcast/crm/domain/Province.hbm.xml" />
	<mapping resource="cn/itcast/crm/domain/City.hbm.xml" />
	<mapping resource="cn/itcast/crm/domain/SysOperateLog.hbm.xml" />

	<!-- 配置类级别的二级缓存 -->
	<class-cache class="cn.itcast.crm.domain.SysPopedomPrivilege"
		usage="read-write" />
	<class-cache class="cn.itcast.crm.domain.SysMenu"
		usage="read-write" />
	<class-cache class="cn.itcast.crm.domain.SysMenuPrivilege"
		usage="read-write" />
</session-factory>




</hibernate-configuration>